@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

.verbergen {
    display: none;
}

body {
    background-color: royalblue;
    min-height: 100vh;
    margin: 0;
    font-family: 'Londrina Solid', cursive;
    color: seashell;
}

nav {
    position: fixed;
}

.nav {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav__knop {
    padding: 0.5em 0.9em;
    box-sizing: border-box;
    width: 2.7em;
}

.nav__knop:hover {
    color: royalblue;
    background-color: seashell;
}

.nav__item {
    margin-top: 0.1em;
}

.nav__link {
    color: royalblue;
    background-color: seashell;
    text-decoration: none;
    display: block;
    padding: 0.2em 0.8em;
    transform: translateX(-8.4em);
    transition: transform 0.8s;
}

.nav__link--schuif-in {
    transform: translateX(0);
    transition: transform 0.8s;
}

.nav__link:hover {
    background-color: slateblue;
    color: seashell;
}

.nav__link--schuif-in .nav__tekst {
    animation: ijl-na 2s forwards;
}

@keyframes ijl-na {
    0% {
        transform: translateX(-2em);
    }

    50% {
        transform: translateX(0.8em);
    }

    75% {
        transform: translateX(-0.4em);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 600px) {
    .nav {
        flex-direction: row;
        width: 100vw;
    }

    .nav__link {
        transform: translateY(-2em);
    }

    .nav__link--schuif-in {
        transform: translateY(0);
        transition: transform 0.8s;
    }

    .nav__item {
        margin-top: 0;
        margin-left: 0.1em;
        flex: 1 0 auto;
    }

    .nav__link--schuif-in .nav__tekst {
        animation: ijl-n-vert 2s forwards;
    }

    @keyframes ijl-na-vert {
        0% {
            transform: translateY(-1em);
        }

        50% {
            transform: translateY(0.1em);
        }

        75% {
            transform: translateY(-0.15em);
        }

        100% {
            transform: translateY(0);
        }
    }
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.vlakje {
    background-image: url("../images/rocket.png");
    background-position: center;
    background-size: cover;
    width: 15vw;
    height: 15vw;
    transform: translateX(2em);
    transition: transform 1s cubic-bezier(0.25, 0, 0.59, 1.03);
}

.vlakje__naar-rechts {
    transform: translateX(60vw) rotate(120deg);
}

.animeer-knop {
    height: 1.5em;
}