body {
    background-color: royalblue;
    min-height: 100vh;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: seashell;
}

nav {
    position: fixed;
}

.nav {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav__knop {
    padding: 0.5em 0.9em;
    box-sizing: border-box;
    width: 2.7em;
}

.nav__knop:hover {
    color: royalblue;
    background-color: seashell;
}

.nav__item {
    margin-bottom: 0.1em;
}

.nav__link {
    color: royalblue;
    background-color: seashell;
    text-decoration: none;
    display: block;
    padding: 0.2em 0.8em;
    transform: translateX(-8.4em);
    transition: transform 0.8s;
}

.nav__link--schuif-in {
    transform: translateX(0);
    transition: transform 0.8s;
}

.nav__link:hover {
    background-color: slateblue;
    color: seashell;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.vlakje {
    background-color: seashell;
    width: 15vw;
    height: 15vw;
    transform: translateX(2em);
    transition: transform 1s cubic-bezier(0.25, 0, 0.59, 1.03);
}

.vlakje__naar-rechts {
    transform: translateX(60vw) rotate(120deg);
}

.animeer-knop {
    height: 1.5em;
}